<h2 class = "header">
<i class="fa fa-shopping-cart" id="carticon"></i>&nbsp &nbsp
	Your shopping cart
</h2>
<table>
	<% if cart.line_items.count > 0  %>
	<%= render(cart.line_items) %>
	<% else %>
	<tr>
	  <td>w</td>
	  <td>w</td>
	  <td class="item_price">w</td>
 	</tr>
 	<% end %>
	<tr class="total_line">
	<td colspan="2">Total</td>
	<td class="total_cell"><%= number_to_currency(cart.total_price) %></td>
	</tr>
</table>

<%= button_to 'Empty cart', cart, method: :delete,remote: true %>