<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<h1 style="color:#2F516D;font-size:1.5em;text-align:center">USA Compressor Parts</h1>
	<h2>Hello <span style="color:#2F516D;font-size:1.25em;"><%= @user.username %></span></h2> 
	<p>
		We couldn't confirm your payment information!.<br>
		Your order is currently under the status: <br>
		<span style="color:#b20000;font-size:1.5em"><%= @order.status %></span>
	</p>
	<br><br>
	<p style="color#9d9d9d;font-size:1.25em">
		**IMPORTANT**<br>
		This mail has been sent, from <i>USA compressor parts</i>, replies to this same mail will not be processed.
	</p>
  </body>
</html>