<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
	<h1>Hello, </h1> 
	<h2></h2> 
	<p>We have received your order, the order is currently under the status:</p>
  </body>
</html>