<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	<h1 style="color:blue;">Hi, you User welcome to Our Email test.</h1> 
  </body>
</html>