/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


#body  {
    background: linear-gradient(#0a2544 , white) no-repeat;
    background-size: 21000% auto, 21000% auto;
}

#up {
  background-color: blue;
  }

.comp1 {
  width: 62px;
  margin-left: 35px;  
}

#loginImg {
  position:relative;
  display:inline;
  float: left;
  width:30%;
  height: 70px;
  margin-top:15px;
}
#loginLangua {
  position:relative;
  display:inline;
  float: left;
  width:20%;
  height: 70px;
  margin-top:15px;
  margin-left: 10px;
}
#loginLogin{
  position:relative;
  display:inline;
  float: left;
  width:49%;
  height: 70px;
  margin-top:15px;
  margin-left: 1px;
}

#navegacion {
  position:relative;
  display:inline;
  float: left;
  width:100%;
  height: 50px;
  margin-bottom:5px;
  margin-top:5px;
  margin-left: 5px;
  z-index: 10;
}
#contenido{
  width:87%;
  min-width:95%;
  position:absolute;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  }

 #side_l{
  position:relative;
    float: left;
    padding: 0;
    width: 2%;
    background: white;
    z-index: 1;
    margin-right:5px;
}

#main {
 position:relative;
 max-width: 80%;
 /*min-height: 650px;*/
 float: left;
 width: 60%;
 margin-right: 0px;
 margin-left: 3px;
 background: white;
  z-index: 0;
 }

  #side_r {
    position:relative;
    float: left;
    /*min-width: 26%;*/
    width:35%;
    padding: 0;
    background: white;
  }