// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#carticon {
	font-size:1.5em;
	}

.header {
	color:black;
	text-align: center;
	width:100%;
	}

.header:hover{
	background:#286e28;
	border-radius:5px;
	color:white;
	#carticon {
	font-size:1.5em;
	color:white;
	}
}
	.item_price, .total_line {
	text-align: right;
	}
	.total_line .total_cell {
	font-weight: bold;
	border-top: 1px solid #595;
	}

	.erase {
	font-size:1.15em;
	color:#7b0000;
	}

.purchase input[type=submit] {
	color: white;
	height: 30px;
	border-radius: 7px;
	background: #286e28;
	text-aling:center;
	width: 90%;
}

.purchase input[type=submit]:hover {
	color: white;
	height: 30px;
	border-radius: 7px;
	background: #4c924c;
	text-aling:center;
	width: 90%;
}