// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store {
  

$size: 45%;
$fontSize: 2.0em;
$radius: 20px;

    .content{
    float:left;
    width:50%;
    display:inline;
    }

    .content1 {
    float:left;
    width:$size;
    color:white;
    display:inline;
    margin-left:20px;
    margin-top:10px;
    margin-bottom:10px;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;  

      #globe {
        font-size: $fontSize;  
        color: #004466;   
      } 

      #check {
      font-size: $fontSize;  
      color: #e59400;   
      }

      .icons {
        text-align:center;
        font-size: $fontSize;
      }
      .text {
        padding-left: 30px;
        font-size:1.5em;
        text-align:center;
      }
    }

    .content2 {
    width:$size;
    color:white;
    margin-left:120px;
    margin-top:10px;
    margin-bottom:10px;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;  
       #object {
        font-size: $fontSize;  
        color: white;   
      } 
      .icons {
        text-align:center;
        font-size: $fontSize;
      }
    .text {
        padding-left: 30px;
        font-size:1.5em;
        text-align:center;
      }
    }
   



  .divImg {
    /*background: #063041;*/
    background: linear-gradient(to right, #3A434A , white) no-repeat;
    border-radius: 20px;
    min-height: 700px;
  }
  .divImg .title2 {
    padding-top:35px;
    padding-left:50px;
    color:white;
  }
  .divImg .title3 {
    padding-left:70px;
    color:white;
  }


.container {
  /*background: #063041;*/
  /*background: linear-gradient(to right, #063041 , white) no-repeat;*/
  width:350px;
  height:300px;
  overflow:hidden;
  position:relative;
  padding-left:20px;
}

  h1 {
  padding-top: 25px;
  padding-left:15px;
  }

  .searhTitle {
  width:100%;
  padding-top:5px;
  padding-left:320px;
    .searchBar {
      width:170px;
      height:20px;
    }
    .searchBotton {
      height:20px;
    }

  }
	.entry {
    position:relative;
    width: 225px;
    min-height: 220px;
    height: 305px;
    float:left;
    display:block;
    padding-left:4px;
    padding-top:7px;
    
    a{
    color:#2F516D;
    text-decoration: none;
    }

    a:hover{
    color:white;
    background: #708090 ;
    }

   img {
      position:absolute;
      width:75px;
      max-height:157px;
      margin-right:10px;
      margin-left:70px;
      margin-bottom:5px;
      z-index:1;
    }
    
   img.zoomsl {
     position:absolute;
      width:75px;
      max-height:157px;
      margin-right:10px;
      margin-left:70px;
      margin-bottom:5px;
      z-index:1;
    }
 
    input[type=submit] {
    border: 0;
    margin-top: 5px;
    color:white;
    background:#286e28;
    height:25px;
    }
    input[type=submit]:hover {
    border: 0;
    margin-top: 5px;
    color:white;
    background:#4c924c;
    height:25px;
    }

     div.price {
      width:75px;
      float:left;
      color: #2F516D;
      margin-right: 3em;
      margin-left: 30px;
    }
    div.bottom input[type=submit]{
    position:absolute;
    width: 140px;
    bottom: 10px;
    color: white;
    left: 20%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;   
    z-index:2;
    }

    div.bottom input[type=number]{
    position:absolute;
    bottom: 15px;
    left: 0%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;   
    z-index:2;
    }

    div.bottom {
      h4 {
      text-align:center;
      padding-top:155px;
      }
      h5 {
      text-align:center;
      padding-top:155px;
      }
      p{
      text-align:center;
      padding-top:115px;
      }
    }
  
    h3 {
      font-size: 100%;
      font-family: sans-serif;
      margin-right: 10px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #2F516D;
    }
    h4 {
      font-size:100%;
      font-family: sans-serif;
      text-align:center;
      color: #1a3745;
    }
    h5 {
      font-size:90%;
      font-family: sans-serif;
      text-align:center;
      color: #1a3745;
    }


    p, div.price_line {
      font-size:82%;
      margin-left: 100px;
      margin-top: 0.5em; 
      margin-bottom: 0.8em; 
    }

    input.button {
      border:0;
      margin-top:20px;
      color:white;
      background:#2F516D;
      height:25px;
      text-font:60%;
      display:inline;
    }

    input.button:hover {
      background:#e59400;
    }

  }
}

.title3 {
  margin-left:80px;
}
.title4 {
    padding-left:100px;
    color:#09202f;
  }

.tabOrder {
  margin-left:100px;
  margin-top:30px;
  border-style: solid;
  border-radius: 20px;
  width:80%;
    .orderTitle {
      color:#09202f;
      margin-left:40px;
    }
    p{
      padding-left:40px;
    }
    .OrderDetailTable {
      width:100%;
    }
  }
  
  .head1 {
  padding-top: 25px;
  padding-left:15px;
  color:#1a3745;
  }
  .head2 {
  padding-top: 10px;
  padding-left:25px;
  color:#1a3745;
  }
  #notice {
  font-size:1.25em;
  background:#d0e4d7;
  font-style:bold;
  color: #147939;
  width:80%;
  margin-left:40px;
  text-align:center;
  }
  #alert {
    font-size:1.25em;
    background:#ffb3b3;
    color: #b20101;
    width:80%;
    padding-top:10px;
    margin-left:40px;
    text-align:center;
  }
  .links {
    padding-bottom:10px;
    padding-left:50px;
     
     #fausd {
      color:#147939;
     }
  }


  
