// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store {

	.entry {
    position:relative;
    width: 215px;
    min-height: 220px;
    height: 205px;
    float:left;
    display:block;
    padding-left:3px;
    padding-top:20px;
    
    a{
    color:#2F516D;
    text-decoration: none;
    }
    a:hover{
    color:white;
    background: #708090 ;
    }
   img {
      position:absolute;
      width:80px;
      max-height:157px;
      margin-right:10px;
      margin-left:20px;
      margin-bottom:5px;
      z-index:1;
    }
    
   img.zoomsl {
      position:absolute;
      width:80px;
      max-height:157px;
      margin-right:10px;
      margin-left:20px;
      margin-bottom:5px;
      z-index:1;
    }
 
    input[type=submit] {
    border: 0;
    margin-top: 5px;
    color:white;
    background:#286e28;
    height:25px;
    }
    input[type=submit]:hover {
    border: 0;
    margin-top: 5px;
    color:white;
    background:#4c924c;
    height:25px;
    }

     div.price {
      width:75px;
      float:left;
      color: #2F516D;
      margin-right: 3em;
      margin-left: 30px;
    }
    div.bottom input[type=submit]{
    position:absolute;
    width: 140px;
    bottom: 10px;
    color: white;
    left: 35%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;   
    z-index:2;
    }
    h3 {
      font-size: 100%;
      font-family: sans-serif;
      margin-right: 10px;
      margin-left: 12px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #2F516D;
    }

    h4 {
      font-size:80%;
      font-family: sans-serif;
      margin-left: 125px;
      margin-top: 0;
      margin-bottom: 2px;
      color: #2F516D;
    }

    p, div.price_line {
      font-size:82%;
      margin-left: 100px;
      margin-top: 0.5em; 
      margin-bottom: 0.8em; 
    }

    input.button {
      border:0;
      margin-top:20px;
      color:white;
      background:#2F516D;
      height:25px;
      text-font:60%;
      display:inline;
    }

    input.button:hover {
      background:#e59400;
    }

    img.carro {
      width: 20px;
      height: 20px;
    }

  }
}