// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#carticon {
	font-size:1.5em;
	}

.header {
	color:black;
	text-aling:center;
	}

.header:hover{
	font-size:1.55em;
	background:#286e28;
	border-radius:5px;
	color:white;
	#carticon {
	font-size:1.5em;
	color:white;
	}

}	

	.cart_title {
	font: 120% bold;
	}
	.item_price, .total_line {
	text-align: right;
	}
	.total_line .total_cell {
	font-weight: bold;
	border-top: 1px solid #595;
	}