<style>
	.divImg {
		background: #404040;
		border-radius: 20px;
		min-height: 700px;
	}
	.divImg .title2 {
		padding-top:35px;
		padding-left:50px;
		padding-bottom: 20px;
		color:white;
	}
	.divImg .title3 {
		padding-left:70px;
		color:white;
	}

 .text {
	float:left;
	padding-left: 50px;
	font-size:1.1em;
	color:white;
	}
.container {
  padding-left:10px;
}
 #map-canvas {
    width: 600px;
    height: 350px;
   	margin:auto;
  }
  a {
  	text-decoration: none;
  	width:20px;
  }


</style>
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script>
      function initialize() {
        var mapCanvas = document.getElementById('map-canvas');
        var mapOptions = {
          center: new google.maps.LatLng(25.6035142, -80.4379856),
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(mapCanvas, mapOptions)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
</script>

<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<div class = "divImg">
	<h1 class = "title2"><i class="fa fa-map-marker"></i> <%= t('.title') %></h1>
	<div id="map-canvas"></div>
	<div class = "text">
	<p class="text"></i> <span style="font-style:bold">MIAMI CITY</span></br></br>
													   15420 SW 176 LN 	</br>
													   MIAMI FL. 33187 EE. UU.  </p></br>
	<p class="text"><i class="fa fa-phone"></i> +1 786 2535540 </p>
	</div>
</div>
