<style>
	.pterms {
		text-align: justify;
		font-size:1.25em;
		margin-left:40px;
		margin-right:100px;
	}
</style>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>
<h1> Terms and conditions </h1>
<h3> Disclaimer </h3>
	<p class ="pterms"> The parts listed herein and or sold by AmericanParts, are not original  Manufacturer parts unless otherwise stated.  All original equipment manufacturer names, model numbers, part Descriptions and drawings used in this catalog are for identification purposes only. AmericanParts implies no affiliation or sponsorship with any equipment manufacturer.
	</p>

<h3> Limited Warranty </h3>
	<p class ="pterms">AmericanParts warrants all parts to be free of defects in material and workmanship for a period of ninety (90) days from date of shipment The extent of liability is limited to replacement of the part or refund of original charge at AmericanParts, option. No other warranty is either expressed or implied.    
	</p>
<br><br>

<h1> Terminos y condiciones </h1><br>
<h3> Declaración de ausencia de declaración </h3>
	<p class ="pterms"> Las partes mostradas en este sitio y/o vendidas por AmericanParts, no son originales almenos que se indique lo contrario. Todos los nombres de partes originales, modelos, descripciones e imagenes usados en este sitio están con fines de identificación unicamente. AmericanParts no posee ninguna afiliación o financiamiento con ningun fabricante.
	</p>

<h3> Garantía </h3>
	<p class ="pterms">AmericanParts garantiza que todas sus partes están libres de defectos materiales y de mano de obra, por un periodo de noventa días (90), desde la fecha de envío. El alcance de la cobertura de la garantía, está limitada a la existencia del reemplazo. Ninguna otra garantía está implicada. 
	</p>