// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title2 {
	margin-left:100px;
	margin-top:50px;
  	height:30px;
    line-height:130%;
	}
.cancel {
	margin-left:100px;
	margin-top:50px;
  	height:30px;
    line-height:130%;
}
.fields {
	font-size:1.5em;
	padding-top:30px;
	text-align:center;
}


.resend {
	color: white;
	height: 30px;
	border-radius: 7px;
	background: #286e28;
	text-aling:center;
}

.resend:hover {
	color: white;
	height: 30px;
	border-radius: 7px;
	background: #4c924c;
	text-aling:center;
}
.cancelButton{
	margin-left:100px;
	margin-top:50px;
	color: white;
	height: 30px;
	border-style: solid;
	border-color: #b2b2b2;
	background: #b2b2b2;
	text-aling:center;
}
.cancelButton:hover{
	margin-left:100px;
	margin-top:50px;
	color: white;
	height: 30px;
	border-style: solid;
	border-color: #4c4c4c;
	background: #4c4c4c;
	text-aling:center;
}
