// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.createuser {
	text-aling:center;
}
.field {
	text-align:center;
}
.button {
	height: 30px;
	width: 250px;
	background:#286e28;
	border-radius: 5px;
	color:white;
	margin-top:20px;
	margin-left:250px;
}
.button:hover {
	height: 30px;
	width: 250px;
	background: #689968;
	border-radius: 5px;
}
.fieldForm {
	width:250px;
}

.form-control {
	width:250px;
}

h3 {
	margin-top:30px;
	margin-left:50px;
}

h2 {
	color:black;
	margin-top:20px;
}

.link a{
	margin-left:250px;
	paddin-top:100px;
	font-size:1.5em;
}
.recaptcha {
	margin-left:220px;
}