// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.createuser {
	text-aling:center;
}
.field {
	text-align:center;
}
.buttonUpdate {
	height: 30px;
	width: 250px;
	background:#286e28;
	border-radius: 5px;
	color:white;
	margin-top:20px;

}
.buttonUpdate:hover {
	height: 30px;
	width: 250px;
	background: #689968;
	border-radius: 5px;
}
.buttonCreateUser {
	height: 30px;
	width: 250px;
	background:#286e28;
	border-radius: 5px;
	color:white;
	margin-top:20px;

}
.buttonCreateUser:hover {
	height: 30px;
	width: 250px;
	background: #689968;
	border-radius: 5px;
}
.form-control {
	width:250px;
}

h3 {
	margin-top:10px;
	margin-left:100px;
}

.title2 {
	margin-left:100px;
	margin-top:50px;
  	height:30px;
    line-height:130%;
}

h2 {
	color:black;
	margin-top:20px;
}

.link a{
	margin-left:250px;
	paddin-top:100px;
	font-size:1.5em;
}


.tablefield {
	padding-top:15px;
	width:300px;
}
.editTable{
	margin-left:100px;
}
.fieldForm {
	width:250px;
}
.InputField {
	width:300px
}